.slide_box{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    
    
}
.middle{
   position: absolute; 
   transform: translate(-50% -50%);

}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 46%;
    display: flex;
    cursor: pointer;
    
}
.bar{
    width: 30px;
    height: 30px;
    border: 2px solid purple;
    background-color: #fff;
    cursor: pointer;
    margin: 0px 60px 50px -40px;
    border-radius: 50%;
    
   
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.bar:hover{
    background-color: #1b1b1b47;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
     
     overflow: hidden;
    
}
.slide{
    width: 20%;
    transition: 0.6s;
    
}
.slide img{
    width: 100%;
    height: 100%;
   
}
#r1:checked~.s1{
    margin-left: 0;
}
#r2:checked~.s1{
    margin-left: -20%;
}
#r3:checked~.s1{
    margin-left: -40%;
}
#r4:checked~.s1{
    margin-left: -60%;
}
#r5:checked~.s1{
    margin-left: -80%;
}
.slide_all{
    margin-top:-124.6px ;
    
    
   
}
.img1{
    width: 110px;
    padding: 25px;
}